extra/axis2/cmmdcADB/CmmdcService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://cmmdc/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://cmmdc/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://cmmdc/">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://cmmdc/xsd">
            <xs:element name="getCmmdc">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" type="xs:long"/>
                        <xs:element minOccurs="0" name="param1" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCmmdcResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getCmmdcRequest">
        <wsdl:part name="parameters" element="ns:getCmmdc"/>
    </wsdl:message>
    <wsdl:message name="getCmmdcResponse">
        <wsdl:part name="parameters" element="ns:getCmmdcResponse"/>
    </wsdl:message>
    <wsdl:portType name="CmmdcServicePortType">
        <wsdl:operation name="getCmmdc">
            <wsdl:input message="axis2:getCmmdcRequest" wsaw:Action="urn:getCmmdc"/>
            <wsdl:output message="axis2:getCmmdcResponse" wsaw:Action="urn:getCmmdcResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CmmdcServiceSoap11Binding" type="axis2:CmmdcServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getCmmdc">
            <soap:operation soapAction="urn:getCmmdc" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CmmdcServiceSoap12Binding" type="axis2:CmmdcServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getCmmdc">
            <soap12:operation soapAction="urn:getCmmdc" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CmmdcServiceHttpBinding" type="axis2:CmmdcServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getCmmdc">
            <http:operation location="CmmdcService/getCmmdc"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getCmmdc"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getCmmdc"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CmmdcService">
        <wsdl:port name="CmmdcServiceHttpSoap11Endpoint" binding="axis2:CmmdcServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/CmmdcService"/>
        </wsdl:port>
        <wsdl:port name="CmmdcServiceHttpSoap12Endpoint" binding="axis2:CmmdcServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/CmmdcService"/>
        </wsdl:port>
        <wsdl:port name="CmmdcServiceHttpEndpoint" binding="axis2:CmmdcServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/CmmdcService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
